<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DataBaseEditConfig" type="Topdeep.Common.DbEditLib.DataBaseEditConfigSection, Topdeep.Common.DbEditLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <DataBaseEditConfig>
        <schemas>
            <clear />
            <schema name="" version="" flag="">
                <tables>
                    <table name="SESSIONS" desc="">
                        <columns>
                            <column name="SE_ID" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Char" isNullable="false" />
                            <column name="SE_DATE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="DateTime" isNullable="false" />
                            <column name="SE_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                    </table>
                    <table name="CATEGORIES" desc="">
                        <columns>
                            <column name="CT_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="CT_NAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="CT_SORT_SEQ" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="CT_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="CT_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__CATEGORIES__0519C6AF" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="CT_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="PROJECTS" desc="">
                        <columns>
                            <column name="PJ_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="PJ_NAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="PJ_ACTIVE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="PJ_DEFAULT_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="PJ_AUTO_ASSIGN_DEFAULT_USER" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="PJ_AUTO_SUBSCRIBE_DEFAULT_USER" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="PJ_ENABLE_POP3" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="PJ_POP3_USERNAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="VarChar" isNullable="true" />
                            <column name="PJ_POP3_PASSWORD" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_POP3_EMAIL_FROM" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_ENABLE_CUSTOM_DROPDOWN1" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="PJ_ENABLE_CUSTOM_DROPDOWN2" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="PJ_ENABLE_CUSTOM_DROPDOWN3" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="PJ_CUSTOM_DROPDOWN_LABEL1" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_CUSTOM_DROPDOWN_LABEL2" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_CUSTOM_DROPDOWN_LABEL3" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_CUSTOM_DROPDOWN_VALUES1" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_CUSTOM_DROPDOWN_VALUES2" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_CUSTOM_DROPDOWN_VALUES3" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="PJ_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="PJ_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__PROJECTS__08EA5793" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="PJ_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="BUGS" desc="">
                        <columns>
                            <column name="BG_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="BG_SHORT_DESC" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="BG_REPORTED_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BG_REPORTED_DATE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="DateTime" isNullable="false" />
                            <column name="BG_STATUS" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BG_PRIORITY" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BG_CATEGORY" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BG_PROJECT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BG_ASSIGNED_TO_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="BG_LAST_UPDATED_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="BG_LAST_UPDATED_DATE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="DateTime" isNullable="true" />
                            <column name="BG_USER_DEFINED_ATTRIBUTE" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="BG_PROJECT_CUSTOM_DROPDOWN_VALUE1" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="BG_PROJECT_CUSTOM_DROPDOWN_VALUE2" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                            <column name="BG_PROJECT_CUSTOM_DROPDOWN_VALUE3" isPrimaryKey="false"
                                isIdentity="false" desc="" type="NVarChar" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="BG_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__BUGS__0F975522" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BG_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="BUG_POSTS" desc="">
                        <columns>
                            <column name="BP_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="BP_BUG" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BP_TYPE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="VarChar" isNullable="false" />
                            <column name="BP_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BP_DATE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="DateTime" isNullable="false" />
                            <column name="BP_COMMENT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NText" isNullable="false" />
                            <column name="BP_EMAIL_FROM" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="BP_EMAIL_TO" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="BP_FILE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="BP_SIZE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="BP_CONTENT_TYPE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="BP_PARENT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="BP_ORIGINAL_COMMENT_ID" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="BP_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__BUG_POSTS__117F9D94" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BP_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="BP_INDEX_1" isUnique="false" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BP_BUG" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="BUG_SUBSCRIPTIONS" desc="">
                        <columns>
                            <column name="BS_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="BS_BUG" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="BS_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="BS_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__BUG_SUBSCRIPTION__1367E606" isUnique="true"
                                type="1" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BS_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="BS_INDEX_1" isUnique="false" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BS_USER" columnSeq="1" />
                                    <indexKeyColumn columnName="BS_BUG" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="BS_INDEX_2" isUnique="false" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="BS_BUG" columnSeq="1" />
                                    <indexKeyColumn columnName="BS_USER" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="BUG_RELATIONSHIPS" desc="">
                        <columns>
                            <column name="RE_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="RE_BUG1" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="RE_BUG2" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="RE_TYPE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="RE_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__BUG_RELATIONSHIP__15502E78" isUnique="true"
                                type="1" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="RE_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="RE_INDEX_1" isUnique="true" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="RE_BUG1" columnSeq="1" />
                                    <indexKeyColumn columnName="RE_BUG2" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="RE_INDEX_2" isUnique="true" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="RE_BUG2" columnSeq="1" />
                                    <indexKeyColumn columnName="RE_BUG1" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="PROJECT_USER_XREF" desc="">
                        <columns>
                            <column name="PU_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="PU_PROJECT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="PU_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="PU_AUTO_SUBSCRIBE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="PU_PERMISSION_LEVEL" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="PU_ADMIN" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="PU_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__PROJECT_USER_XRE__173876EA" isUnique="true"
                                type="1" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="PU_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="PU_INDEX_1" isUnique="true" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="PU_PROJECT" columnSeq="1" />
                                    <indexKeyColumn columnName="PU_USER" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                            <indexKey name="PU_INDEX_2" isUnique="true" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="PU_USER" columnSeq="1" />
                                    <indexKeyColumn columnName="PU_PROJECT" columnSeq="2" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="USER_DEFINED_ATTRIBUTE" desc="">
                        <columns>
                            <column name="UDF_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="UDF_NAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="UDF_SORT_SEQ" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="UDF_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="UDF_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__USER_DEFINED_ATT__1BFD2C07" isUnique="true"
                                type="1" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="UDF_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="STATUSES" desc="">
                        <columns>
                            <column name="ST_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="ST_NAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="ST_SORT_SEQ" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="ST_STYLE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="ST_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="ST_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__STATUSES__1FCDBCEB" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="ST_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="PRIORITIES" desc="">
                        <columns>
                            <column name="PR_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="PR_NAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="PR_SORT_SEQ" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="PR_BACKGROUND_COLOR" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="PR_STYLE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="PR_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="PR_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__PRIORITIES__239E4DCF" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="PR_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="CUSTOM_COL_METADATA" desc="">
                        <columns>
                            <column name="CCM_COLORDER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="CCM_DROPDOWN_VALS" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="CCM_SORT_SEQ" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="CCM_DROPDOWN_TYPE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="VarChar" isNullable="true" />
                        </columns>
                        <indexKeys>
                            <indexKey name="CDV_INDEX" isUnique="true" type="3" sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="CCM_COLORDER" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="REPORTS" desc="">
                        <columns>
                            <column name="RP_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="RP_DESC" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="RP_SQL" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NText" isNullable="false" />
                            <column name="RP_CHART_TYPE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="VarChar" isNullable="false" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="RP_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__REPORTS__2A4B4B5E" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="RP_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="QUERIES" desc="">
                        <columns>
                            <column name="QU_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="QU_DESC" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="QU_SQL" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NText" isNullable="false" />
                            <column name="QU_DEFAULT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="QU_USER" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="QU_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__QUERIES__2C3393D0" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="QU_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                    <table name="USERS" desc="">
                        <columns>
                            <column name="US_ID" isPrimaryKey="true" isIdentity="true" desc=""
                                type="Int" isNullable="false" />
                            <column name="US_USERNAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="US_PASSWORD" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="false" />
                            <column name="US_FIRSTNAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="US_LASTNAME" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="US_EMAIL" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                            <column name="US_ADMIN" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="US_DEFAULT_QUERY" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="US_ENABLE_NOTIFICATIONS" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="US_AUTO_SUBSCRIBE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="US_AUTO_SUBSCRIBE_OWN_BUGS" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="US_AUTO_SUBSCRIBE_REPORTED_BUGS" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="US_SEND_NOTIFICATIONS_TO_SELF" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="true" />
                            <column name="US_ACTIVE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="false" />
                            <column name="US_BUGS_PER_PAGE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="US_FORCED_PROJECT" isPrimaryKey="false" isIdentity="false"
                                desc="" type="Int" isNullable="true" />
                            <column name="US_REPORTED_NOTIFICATIONS" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="US_ASSIGNED_NOTIFICATIONS" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="US_SUBSCRIBED_NOTIFICATIONS" isPrimaryKey="false"
                                isIdentity="false" desc="" type="Int" isNullable="false" />
                            <column name="US_SIGNATURE" isPrimaryKey="false" isIdentity="false"
                                desc="" type="NVarChar" isNullable="true" />
                        </columns>
                        <primaryKeys>
                            <primaryKey pkColumnName="US_ID" />
                        </primaryKeys>
                        <indexKeys>
                            <indexKey name="PK__USERS__76CBA758" isUnique="true" type="1"
                                sort="A">
                                <indexKeyColumns>
                                    <indexKeyColumn columnName="US_ID" columnSeq="1" />
                                </indexKeyColumns>
                            </indexKey>
                        </indexKeys>
                    </table>
                </tables>
            </schema>
        </schemas>
    </DataBaseEditConfig>
</configuration>