<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.topdeep.projgroup.entity.base.BaseMapper">
  <select id="getNextSequValue" parameterType="String" resultType="Long">
    select ${value}.nextVal from dual
  </select>
  <select id="getLastInsertValue" resultType="Long">
    SELECT LAST_INSERT_ID()
  </select>
  
  <select id="checkDatabase" resultType="Long">
  	select 1 from dual
  </select>
  <select id="queryCount" parameterType="String" resultType="Long">
  	select count(*) NCOUNT from (${value}) __count__
  </select>
  <select id="queryScalar" parameterType="String" resultType="Object">
  	${value}
  </select>
  <select id="queryResult" parameterType="String" resultType="java.util.HashMap">
  	${value}
  </select>
  <update id="updateBySql" parameterType="String">
  	${value}
  </update>
  
</mapper>