@CHARSET "UTF-8";
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html,body{ 
	overflow:auto;
}

body{ 
	font-size:12px;
	font-family:"宋体";
	position:relative;
}
a,img{border:none;}
input,select,textarea{
	background:#fff;
	border:1px solid #ccc;
	margin-bottom:5px;
}
select,input{
	border:1px solid #ccc;
}
textarea {
	font-size:12px;
	width:600px;
	height:200px;
}
/*区域滚动条*/
select,textarea{
	scrollbar-3dlight-color:lime;
	scrollbar-arrow-color:lime;
	scrollbar-base-color:lime;/*基准色*/
	scrollbar-darkshadow-color:lime;
	scrollbar-face-color:##FFF;
	scrollbar-highlight-color:#FFF;
	scrollbar-shadow-color:lime;
}
select{
	width:150px;
}
input{
	font-size: 12px;
}

table{
	table-layout:auto;
}
table th,table td{
	vertical-align:baseline;
}
table td{
	overflow:hidden;
	text-overflow:ellipsis;
}

